* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

header {
  width: 848px;
  height: 150px;
  background-color: #F1F1F199;
  border-radius: 0px 8px 8px 0px;
}

.titulo,
.texto {
  margin: 25px;
  padding-top: 25px;
}

.bloco {
  width: 840px;
  height: 112px;
  background-color: #F1F1F199;
  margin-top: 16px;
  border-radius: 0px 8px 8px 0px;
  border-left: 8px solid #286BB9;
}

.label {
  margin-left: 24px;
  display: block;
  padding-top: 24px;
  margin-bottom: 2px; 
}


.campo {
  margin-left: 24px;
  width: 777px;
  padding: 8px;
  border: 1px solid #286BB9;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 8px; /* Espaço acima do input */
}

.radio {
  margin-left: 24px;
  border: 2px solid #286BB9; /* Adicionando borda azul */

}

.seletor {
  margin-left: 24px;
  width: 790px;
  padding: 8px;
  border: 1px solid #286BB9;
  border-radius: 4px;
  background-color: #fff;
}

.area {
  margin-left: 24px;
  width: 777px;
  height: 70px;
  padding: 8px;
  border: 1px solid #286BB9;
  border-radius: 4px;
  background-color: #fff;
}

textarea {
  resize: none;
}

.botao {
  margin-top: 32px;
  margin-left: 24px;
  width: 200px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #286BB9;
  color: white;
  cursor: pointer;
}

.botao:hover {
  background-color: #1f5a8a;
}

.texto {
  font-size: 14px;
  color: #333;
}

.bloco-obs{
  width: 840px;
  height: 160px;
  background-color: #F1F1F199;
  margin-top: 16px;
  border-radius: 0px 8px 8px 0px;
  border-left: 8px solid #286BB9;
}

.bloco-check{
  width: 816px;
  height: 66px;
  background-color: #F1F1F199;
  margin-top: 16px;
  border-radius: 0px 8px 8px 0px;
  border-left: 8px solid #286BB9;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.bloco-radio{
  width: 840px;
  height: 90px;
  background-color: #F1F1F199;
  margin-top: 16px;
  border-radius: 0px 8px 8px 0px;
  border-left: 8px solid #286BB9;
}


.obrigatorio {
  color: red;
  margin-left: 4px;
  margin-right: 4px;
}


p {
  margin-top: 16px;
  margin-left: 24px;
  color: #666;
}